.chart-container {
    position: relative;
    width:95vw;
}

@media (min-width: 992px) {
    .chart-container {
        width:50vw;
        max-width: 700px;
        padding-right: 45px;
    }
}

#footer-padding {
    height: 150px;
}

#needs-daemon-restart {
    color: var(--dark);
    background-color: var(--light);
    max-width: 350px;
    padding: 1em;
    border: 1px solid var(--dark);
    position: fixed;
    top: 10px;
    right: 10px;
    -moz-box-shadow:    2px 2px 5px 1px var(--dark);
    -webkit-box-shadow: 2px 2px 5px 1px var(--dark);
    box-shadow:         2px 2px 5px 1px var(--dark);
}

.mt-8, .my-8 {
    margin-top: 3rem !important;
}
